@font-face {
  font-family: Gotham;
  src: url('fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: Avenir;
  src: url('fonts/avenir-next-regular.woff');
}

header {
  position: relative;
  height: 25em;
  background-image: url('pics/studio-republic-644339-unsplash.jpg');
  background-color: #c2b48f;
  background-blend-mode: multiply;
  background-size: cover;
  padding: 4em 15em 0 15em;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 2em;
}

#links {
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 55em;
}

#nlink {
  display: flex;
  justify-content: space-around;
  background-color: #192d3b;
  width: 8em;
  height: 1em;
  padding: .2em .8em .4em .8em;
}

#nlink:hover,
#search:hover {
  background-color: #fcd247;
}

#blue {
  color: lightgray;
}

#yellow {
  color: black;
}

#blue,
#yellow {
  display: table-cell;
  font-family: Gotham;
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  vertical-align: middle;
  height: 74vh;
  padding: 0 1em 0 1em;
}

#one,
#six {
  display: table;
}

#search {
  background-color: #192d3b;
  width: 1.8em;
  height: 1em;
  padding: .2em 0 .4em 0;
}

img {
  max-height: 1em;
}

#logo {
  font-family: Gotham;
  position: absolute;
  left: 1em;
  top: 1em;
  height: 2.2em;
  width: 3.5em;
  background-color: #fcd247;
  text-align: center;
  padding: .5em 0 .5em 0;
}

h1 {
font-family: Gotham;
text-transform: uppercase;
font-size: 50px;
}

p {
  color: white;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

#gallery {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 150vh;
  padding: 0 1em 0 1em;
  margin: 1em 0 1em 0;
}

#one {
  grid-area: 1/1/3/2;
  background-color: #192d3b;
}

#two {
  grid-area: 1/2/2/3;
  background-image: url('pics/ayo-ogunseinde-93181-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

#three {
  grid-area: 1/3/2/4;
  background-image: url('pics/eli-defaria-14556-unsplash.jpg');
  background-size: cover;
}

#four {
  grid-area: 2/2/3/3;
  background-image: url('pics/eye-for-ebony-341041-unsplash.jpg');
  background-size: cover;
}

#five {
  grid-area: 2/3/3/4;
  background-image: url('pics/norman-toth-177973-unsplash.jpg');
  background-size: cover;
}

#six {
  grid-area: 3/3/5/4;
  background: #fcd247;
}

#seven {
  grid-area: 3/1/4/2;
  background-image: url('pics/sage-kirk-485982-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#eight {
  grid-area: 3/2/4/3;
  background-image: url('pics/jonas-kakaroto-577554-unsplash(1).jpg');
  background-size: cover;
}

#nine {
  grid-area: 4/1/5/2;
  background-image: url('pics/kal-loftus-1169698-unsplash.jpg');
  background-size: cover;
}

#ten {
  grid-area: 4/2/5/3;
  background-image: url('pics/sung-wang-209324-unsplash.jpg');
  background-size: cover;
}

footer {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  height: 8em;
  background: #192d3b;
  padding-top: 1em;
}

a,
h1 {
  color: white;
  text-align: center;
  text-decoration: none;
}

p {
  font-family: Avenir;
  font-size: 30px;
  font-weight: lighter;
  line-height: 1.5;
}

a {
  font-family: Gotham;
}

/*****************************************************/

#s_header {
  color: #fcd247;
}

#studentlist {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 150vh;
  padding: 0 1em 0 1em;
  margin: 1em 0 1em 0;
}

#s_one {
  grid-area: 1/1/3/2;
  background-color: #192d3b;
  background-image: url('pics/eli-defaria-14556-unsplash.jpg');
  background-size: cover;
}

#desc1 {
  grid-area: 3/1/4/2;
}

#s_two {
  grid-area: 1/2/3/3;
  background-image: url('pics/eli-defaria-14556-unsplash.jpg');
  background-size: cover;
}

#desc2 {
  grid-area: 3/2/4/3;
}

#s_three {
  grid-area: 1/3/3/4;
  background-image: url('pics/eli-defaria-14556-unsplash.jpg');
  background-size: cover;
}

#desc3 {
  grid-area: 3/3/4/4;
}

#s_four {
  grid-area: 1/2/3/3;
  background-image: url('pics/eli-defaria-14556-unsplash.jpg');
  background-size: cover;
}

#desc4 {
  grid-area: 3/3/4/4;
}
