@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir.otf');
}

header {
  position: relative;
  height: 15em;
  background-image: url('pics/studio-republic-644339-unsplash.jpg');
  background-size: cover;
  padding-top: 1em;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 2em;
}

#links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 50em;
}

#nlink {
  display: flex;
  justify-content: space-around;
  background-color: #192d3b;
  width: 6em;
  height: 1em;
  padding: .2em .8em .4em .8em;
}

#search {
  background-color: #192d3b;
  width: 1.8em;
  height: 1em;
  padding: .2em 0 .4em 0;
}

#logo {
  position: absolute;
  left: 3%;
  top: 6%;
  height: 2.2em;
  width: 3.5em;
  background-color: gold;
  text-align: center;
  padding: .5em 0 .5em 0;
}

h1 {
font-family: Avenir;
text-transform: uppercase;
}

p {
  color: white;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

#gallery {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 150vh;
  padding: 0 1em 0 1em;
  margin: 1em 0 1em 0;
}

#one {
  grid-area: 1/1/3/2;
  background: grey;

}

#two {
  grid-area: 1/2/2/3;
  background-image: url('pics/ayo-ogunseinde-93181-unsplash.jpg');
  background-size: cover;
}

#three {
  grid-area: 1/3/2/4;
  background-image: url('pics/eli-defaria-14556-unsplash.jpg');
  background-size: cover;
}

#four {
  grid-area: 2/2/3/3;
  background-image: url('pics/eye-for-ebony-341041-unsplash.jpg');
  background-size: cover;
}

#five {
  grid-area: 2/3/3/4;
  background-image: url('pics/norman-toth-177973-unsplash.jpg');
  background-size: cover;
}

#six {
  grid-area: 3/3/5/4;
  background: orange;
}

#seven {
  grid-area: 3/1/4/2;
  background-image: url('pics/sage-kirk-485982-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#eight {
  grid-area: 3/2/4/3;
  background-image: url('pics/jonas-kakaroto-577554-unsplash(1).jpg');
  background-size: cover;
}

#nine {
  grid-area: 4/1/5/2;
  background-image: url('pics/kal-loftus-1169698-unsplash.jpg');
  background-size: cover;
}

#ten {
  grid-area: 4/2/5/3;
  background-image: url('pics/sung-wang-209324-unsplash.jpg');
  background-size: cover;
}

footer {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  height: 8em;
  background: #192d3b;
  padding-top: 1em;
}

a,
h1 {
  color: white;
  text-align: center;
  text-decoration: none;
}
